*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:black;
}

#bg-video{

    position:fixed;

    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;

    object-position:center top;

    filter:
        brightness(.78)
        saturate(.95);

    z-index:0;
}

.overlay{

    position:fixed;

    inset:0;

    background:

        radial-gradient(

            circle,

            rgba(0,0,0,.03) 0%,

            rgba(0,0,0,.15) 45%,

            rgba(0,0,0,.35) 100%
        );

    z-index:1;

    pointer-events:none;
}

.container{

    position:fixed;

    left:50%;
    top:50%;

    transform:
        translate(-50%,-50%);

    width:900px;
    height:700px;

    display:flex;

    justify-content:center;
    align-items:center;

    overflow:visible;

    z-index:2;
}

.moon-system{

    position:relative;

    width:800px;
    height:600px;

    display:flex;

    justify-content:center;
    align-items:center;
}
