/* =========================================
                    RESET
========================================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* =========================================
                HTML / BODY
========================================= */

html,
body{

    width:100%;
    height:100%;

    overflow:hidden;

    background:#000;

    font-family:

        "Times New Roman",
        serif;

    user-select:none;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}


/* =========================================
                VIDEO NỀN
========================================= */

#bg-video{

    position:fixed;

    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;

    object-position:center top;

    filter:

        brightness(.78)

        saturate(.95);

    z-index:0;

    transform:translateZ(0);

    will-change:transform;

    backface-visibility:hidden;

    pointer-events:none;
}


/* =========================================
                LỚP TỐI
========================================= */

.overlay{

    position:fixed;

    inset:0;

    background:

        radial-gradient(

            circle,

            rgba(0,0,0,.03) 0%,

            rgba(0,0,0,.15) 45%,

            rgba(0,0,0,.35) 100%
        );

    pointer-events:none;

    z-index:1;
}


/* =========================================
                CONTAINER CHÍNH
========================================= */

.container{

    position:fixed;

    top:50%;
    left:50%;

    transform:
        translate(-50%,-50%);

    width:900px;
    height:700px;

    display:flex;

    justify-content:center;
    align-items:center;

    overflow:visible;

    z-index:2;
}

/* =========================================
                GLASS LAYER
========================================= */

.glass-layer{

    position:absolute;

    inset:0;

    overflow:visible;

    pointer-events:none;

    z-index:8;
}


/* =========================================
                MOON SYSTEM
========================================= */

.moon-system{

    position:relative;

    width:800px;
    height:600px;

    display:flex;

    justify-content:center;
    align-items:center;
}

/* =========================================
                PLANET LAYER
========================================= */

.planet-layer{

    position:absolute;

    inset:0;

    overflow:visible;

    pointer-events:none;

    z-index:60;
}


/* =========================================
                SEARCH TEXT
========================================= */

.search-text{

    position:absolute;

    top:480px;

    font-size:34px;

    color:white;

    text-shadow:

        0 0 15px #ffd4ff,

        0 0 35px #8be8ff,

        0 0 70px #8be8ff;

    z-index:30;
}
