#moon{

    position:absolute;

    left:50%;
    top:50%;

    transform:
        translate(-50%,-50%)
        rotate(10deg);

    font-size:170px;

    z-index:20;

    cursor:pointer;

    background:
        linear-gradient(
            135deg,
            #ffd4ff,
            #dcd6ff,
            #bffcff
        );

    -webkit-background-clip:text;
    background-clip:text;

    color:transparent;

    filter:

        drop-shadow(
            0 0 25px
            rgba(255,180,255,.7)
        )

        drop-shadow(
            0 0 60px
            rgba(180,255,255,.6)
        );

    user-select:none;
    -webkit-user-select:none;

    -webkit-user-drag:none;
}
