/* =========================================
                    MOON
========================================= */

#moon{

    position:absolute;

    left:51%;
    top:50%;

    transform:
        translate(-50%,-50%)
        rotate(10deg);

    font-size:170px;

    z-index:20;

    cursor:pointer;

    background:
        linear-gradient(
            135deg,
            #ffd4ff,
            #dcd6ff,
            #bffcff
        );

    -webkit-background-clip:text;
    background-clip:text;

    color:transparent;

    filter:

        drop-shadow(
            0 0 25px
            rgba(255,180,255,.7)
        )

        drop-shadow(
            0 0 60px
            rgba(180,255,255,.6)
        );

    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;

    -webkit-user-drag:none;
}


/* =========================================
                SEARCH TEXT
========================================= */

.search-text{

    position:absolute;

    top:480px;

    font-size:34px;

    color:white;

    text-shadow:

        0 0 15px #ffd4ff,

        0 0 35px #8be8ff,

        0 0 70px #8be8ff;

    z-index:30;

    user-select:none;
    -webkit-user-select:none;
}


/* =========================================
              MOON OPTIONAL GLOW
========================================= */

/* Nếu sau này muốn bật nổi lơ lửng */

.moon-float{

    animation:
        moonFloat
        6s ease-in-out infinite;
}
