/* =========================================
                    PLANET
========================================= */

.planet{

    position:absolute;

    width:150px;
    height:150px;

    left:50%;
    top:50%;

    margin-left:-75px;
    margin-top:-75px;

    border-radius:50%;

    background:

        radial-gradient(
            circle at 35% 28%,

            rgba(255,255,255,.92) 0%,
            rgba(255,255,255,.55) 10%,

            rgba(255,255,255,.10) 28%,

            rgba(180,255,255,.05) 55%,

            rgba(255,190,255,.04) 100%
        );

    border:
        2px solid rgba(255,255,255,.50);

    backdrop-filter:
        blur(3px);

    -webkit-backdrop-filter:
        blur(3px);

    box-shadow:

        0 0 15px rgba(255,190,255,.35),

        0 0 22px rgba(120,255,255,.35),

        inset 0 0 20px rgba(255,255,255,.08);

    overflow:hidden;

    z-index:10;

    opacity:0;

    transition:

        transform 1.4s cubic-bezier(.22,1,.36,1),

        opacity 1.4s ease;

    user-select:none;

    -webkit-user-select:none;

    -webkit-user-drag:none;
}

/* =========================================
              GLASS REFLECTION
========================================= */

.planet::before{

    content:"";

    position:absolute;

    inset:0;

    border-radius:50%;

    background:

        radial-gradient(

            circle at 65% 35%,

            rgba(255,255,255,.85),

            rgba(255,255,255,.25) 25%,

            transparent 55%

        );

    mix-blend-mode:screen;

    pointer-events:none;
}

/* =========================================
                HIGHLIGHT
========================================= */

.planet::after{

    content:"";

    position:absolute;

    width:32%;
    height:32%;

    left:20%;
    top:16%;

    border-radius:50%;

    background:

        radial-gradient(

            circle,

            rgba(255,255,255,.98) 0%,

            rgba(255,255,255,.55) 30%,

            rgba(255,255,255,.15) 70%,

            transparent 100%

        );

    filter:blur(7px);

    pointer-events:none;

    z-index:2;

    mix-blend-mode:screen;
}

/* =========================================
              PLANET POSITIONS
========================================= */

.p1{

    transform:
        translateY(-200px);
}

.p2{

    transform:

        rotate(90deg)

        translateY(-200px)

        rotate(-90deg);
}

.p3{

    transform:

        rotate(180deg)

        translateY(-200px)

        rotate(-180deg);
}

.p4{

    transform:

        rotate(270deg)

        translateY(-200px)

        rotate(-270deg);
}


/* =========================================
            CLOSED STATE
========================================= */

.orbit-container:not(.active) .p1,
.orbit-container:not(.active) .p2,
.orbit-container:not(.active) .p3,
.orbit-container:not(.active) .p4{

    transform:
        translate(0,0);

    opacity:0;
}


/* =========================================
            OPEN STATE
========================================= */

.orbit-container.active .p1{

    transform:
        translateY(-200px);

    opacity:1;
}

.orbit-container.active .p2{

    transform:

        rotate(90deg)

        translateY(-200px)

        rotate(-90deg);

    opacity:1;
}

.orbit-container.active .p3{

    transform:

        rotate(180deg)

        translateY(-200px)

        rotate(-180deg);

    opacity:1;
}

.orbit-container.active .p4{

    transform:

        rotate(270deg)

        translateY(-200px)

        rotate(-270deg);

    opacity:1;
}
