/* =========================================
                    PLANET
========================================= */

.planet{

    position:absolute;

    width:150px;
    height:150px;

    left:50%;
    top:50%;

    margin-left:-75px;
    margin-top:-75px;

    border-radius:50%;

    overflow:visible;

    z-index:100;

    pointer-events:none;

    user-select:none;

    -webkit-user-select:none;
    -webkit-user-drag:none;

    opacity:0;

    background:

        radial-gradient(
            circle at 35% 28%,

            rgba(255,255,255,.45) 0%,

            rgba(255,255,255,.20) 12%,

            rgba(255,255,255,.06) 35%,

            rgba(180,255,255,.03) 60%,

            rgba(255,190,255,.02) 100%
        );

    border:
        2px solid rgba(255,255,255,.40);

    backdrop-filter:
        blur(7px);

    -webkit-backdrop-filter:
        blur(7px);

    box-shadow:

        0 0 12px rgba(255,190,255,.25),

        0 0 18px rgba(120,255,255,.25),

        inset 0 0 20px rgba(255,255,255,.08);

    transition:

        transform 1.4s cubic-bezier(.22,1,.36,1),

        opacity 1.4s ease;
}


/* =========================================
              GLASS REFLECTION
========================================= */

.planet::before{

    content:"";

    position:absolute;

    inset:0;

    border-radius:50%;

    background:

        radial-gradient(

            circle at 68% 34%,

            rgba(255,255,255,.95),

            rgba(255,255,255,.28) 20%,

            transparent 55%

        );

    mix-blend-mode:screen;

    pointer-events:none;
}


/* =========================================
                HIGHLIGHT
========================================= */

.planet::after{

    content:"";

    position:absolute;

    width:40%;
    height:40%;

    left:18%;
    top:14%;

    border-radius:50%;

    background:

        radial-gradient(

            circle,

            rgba(255,255,255,.98) 0%,

            rgba(255,255,255,.60) 35%,

            rgba(255,255,255,.15) 75%,

            transparent 100%
        );

    filter:blur(8px);

    pointer-events:none;

    mix-blend-mode:screen;
}


/* =========================================
            PLANET POSITIONS
========================================= */

.p1{

    transform:
        translateY(-200px);
}

.p2{

    transform:

        rotate(90deg)

        translateY(-200px)

        rotate(-90deg);
}

.p3{

    transform:

        rotate(180deg)

        translateY(-200px)

        rotate(-180deg);
}

.p4{

    transform:

        rotate(270deg)

        translateY(-200px)

        rotate(-270deg);
}

/* =========================================
            CLOSED STATE
========================================= */

.container:not(.active) .planet{

    opacity:0;

    transform:

        scale(.15);
}


/* =========================================
            OPEN STATE
========================================= */

.container.active .p1{

    opacity:1;

    transform:
        translateY(-200px);
}

.container.active .p2{

    opacity:1;

    transform:

        rotate(90deg)

        translateY(-200px)

        rotate(-90deg);
}

.container.active .p3{

    opacity:1;

    transform:

        rotate(180deg)

        translateY(-200px)

        rotate(-180deg);
}

.container.active .p4{

    opacity:1;

    transform:

        rotate(270deg)

        translateY(-200px)

        rotate(-270deg);
}
