/* =========================================
                    PLANET
========================================= */

.planet{

    position:absolute;

    width:150px;
    height:150px;

    left:50%;
    top:50%;

    margin-left:-75px;
    margin-top:-75px;

    border-radius:50%;

    background:

        radial-gradient(
            circle at 35% 28%,

            rgba(255,255,255,.95) 0%,
            rgba(255,255,255,.65) 12%,

            rgba(255,255,255,.08) 35%,

            rgba(150,255,255,.04) 60%,

            rgba(255,180,255,.04) 100%
        );

    border:
        2px solid rgba(255,255,255,.55);

    backdrop-filter:
        blur(2px);

    box-shadow:

        0 0 15px rgba(255,190,255,.45),

        0 0 22px rgba(120,255,255,.45),

        inset 0 0 25px rgba(255,255,255,.12);

   overflow:hidden;

    z-index:10;

    opacity:0;

    transition:

    transform 1.4s cubic-bezier(.22,1,.36,1),

    opacity 1.4s ease;

    user-select:none;

    -webkit-user-select:none;

    -webkit-user-drag:none;

    pointer-events:none;
}

/* =========================================
              GLASS REFLECTION
========================================= */

.planet::before{

    content:"";

    position:absolute;

    inset:0;

    border-radius:50%;

    background:

        linear-gradient(

            135deg,

            rgba(120,255,255,.18),

            transparent 40%,

            transparent 60%,

            rgba(255,180,255,.20)
        );
}

/* =========================================
                HIGHLIGHT
========================================= */

.planet::after{

    content:"";

    position:absolute;

    width:32%;
    height:32%;

    left:20%;
    top:16%;

    border-radius:50%;

    background:

        radial-gradient(

            circle,

            rgba(255,255,255,.95),

            rgba(255,255,255,.15) 70%,

            transparent
        );

    filter:blur(3px);
}

/* =========================================
            PLANET POSITIONS
========================================= */

.p1{
    transform:
        translateY(-200px);
}

.p2{
    transform:
        rotate(90deg)
        translateY(-200px)
        rotate(-90deg);
}

.p3{
    transform:
        rotate(180deg)
        translateY(-200px)
        rotate(-180deg);
}

.p4{
    transform:
        rotate(270deg)
        translateY(-200px)
        rotate(-270deg);
}

/* =========================================
                CLOSED
========================================= */

.orbit-system:not(.active) .planet{

    opacity:0;

    transform:
        translate(0,0);

}


/* =========================================
                OPEN
========================================= */

.orbit-system.active .p1{

    opacity:1;

    transform:
        translateY(-200px);
}


.orbit-system.active .p2{

    opacity:1;

    transform:

        rotate(90deg)

        translateY(-200px)

        rotate(-90deg);
}


.orbit-system.active .p3{

    opacity:1;

    transform:

        rotate(180deg)

        translateY(-200px)

        rotate(-180deg);
}


.orbit-system.active .p4{

    opacity:1;

    transform:

        rotate(270deg)

        translateY(-200px)

        rotate(-270deg);
}

/* =========================================
                PLANET VIDEO
========================================= */

.planet-bg{

    position:absolute;

    left:50%;
    top:50%;

    width:100vw;
    height:100vh;

    object-fit:cover;

    transform:
        translate(-50%,-50%);

    pointer-events:none;

    opacity:.35;

    mix-blend-mode:screen;

    z-index:-1;
}
