*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{

    width:100%;
    height:100%;

    overflow:hidden;

    background:black;
}

/* ========================= */
/* VIDEO NỀN */
/* ========================= */

#bg-video{

    position:fixed;

    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;

    object-position:center top;

    filter:

        brightness(.78)

        saturate(.95);

    z-index:0;

    will-change:
        transform;

    transform:
        translateZ(0);

    backface-visibility:hidden;
}

/* ========================= */
/* LỚP TỐI */
/* ========================= */

.overlay{

    position:fixed;

    inset:0;

    background:

        radial-gradient(

            circle,

            rgba(0,0,0,.03) 0%,

            rgba(0,0,0,.15) 45%,

            rgba(0,0,0,.35) 100%
        );

    z-index:1;

    pointer-events:none;
}

#welcome{

    position:fixed;

    inset:0;

    background:black;

    display:flex;

    flex-direction:column;

    justify-content:center;
    align-items:center;

    color:white;

    z-index:9999;

    cursor:pointer;

    transition:1s;
}

#welcome h1{

    font-size:90px;

    margin-bottom:25px;

    text-shadow:

        0 0 30px white,

        0 0 60px #8be8ff;
}

#welcome p{

    font-size:24px;

    color:white;

    opacity:1;

    text-shadow:

        0 0 10px white,

        0 0 25px #8be8ff;

    margin-top:15px;

    z-index:10000;
}

.container{

    position:fixed;

    top:50%;
    left:50%;

    transform:
        translate(-50%,-50%);

    width:900px;
    height:700px;

    display:flex;

    justify-content:center;
    align-items:center;

    overflow:visible;

    z-index:2;
}

.moon-system{

    position:relative;

    width:800px;
    height:600px;

    display:flex;

    justify-content:center;
    align-items:center;
}

#moon{

    position:absolute;

    left:51%;
    top:50%;

    transform:
        translate(-50%,-50%)
        rotate(10deg);

    font-size:170px;

    z-index:20;

    cursor:pointer;

    filter:
        drop-shadow(
            0 0 25px
            rgba(255,180,255,.7)
        )
        drop-shadow(
            0 0 60px
            rgba(180,255,255,.6)
        );

    background:
        linear-gradient(
            135deg,
            #ffd4ff,
            #dcd6ff,
            #bffcff
        );

    -webkit-background-clip:text;
    background-clip:text;

    color:transparent;
    
    user-select:none;

    -webkit-user-select:none;

    -moz-user-select:none;

    -ms-user-select:none;
}

.search-text{

    position:absolute;

    top:480px;

    font-size:34px;

    color:white;

    text-shadow:

        0 0 15px #ffd4ff,

        0 0 35px #8be8ff,

        0 0 70px #8be8ff;

    z-index:30;
}

.star{

    position:absolute;

    overflow:visible;

    isolation:isolate;

    z-index:40;

    transform-origin:center;

    background:

        linear-gradient(

            135deg,

            #ff6fd1,

            #c78fff,

            #6cecff
        );

    clip-path:

        polygon(
            50% 0%,
            60% 40%,
            100% 50%,
            60% 60%,
            50% 100%,
            40% 60%,
            0% 50%,
            40% 40%
        );

    box-shadow:

        0 0 10px #ff75d6,

        0 0 22px #cf98ff,

        0 0 38px #73f0ff;

    animation:
        twinkle 4s ease-in-out infinite;
}

.star::before{

    content:"";

    position:absolute;

    inset:-55%;

    border-radius:50%;

    background:

        radial-gradient(

            circle,

            rgba(255,150,230,.55),

            rgba(180,170,255,.35),

            rgba(120,255,255,.25),

            transparent
        );

    filter:blur(10px);

    z-index:-1;
}

.s1{
    width:28px;
    height:28px;

    top:205px;
    left:285px;

    transform:rotate(18deg);
}

.s2{
    width:16px;
    height:16px;

    top:225px;
    left:355px;

    transform:rotate(-25deg);
}

.s3{
    width:24px;
    height:24px;

    top:290px;
    left:235px;

    transform:rotate(42deg);
}

.s4{
    width:18px;
    height:18px;

    top:325px;
    left:405px;

    transform:rotate(8deg);
}

.s5{
    width:15px;
    height:15px;

    top:365px;
    left:295px;

    transform:rotate(-35deg);
}

.s6{
    width:26px;
    height:26px;

    top:360px;
    left:430px;

    transform:rotate(28deg);
}

.s7{
    width:14px;
    height:14px;

    top:255px;
    left:315px;

    transform:rotate(60deg);
}

.s8{
    width:20px;
    height:20px;

    top:410px;
    left:360px;

    transform:rotate(-15deg);
}

.s9{
    width:30px;
    height:30px;

    top:185px;
    left:410px;

    transform:rotate(35deg);
}

.s10{
    width:14px;
    height:14px;

    top:305px;
    left:335px;

    transform:rotate(0deg);
}

.s11{
    width:26px;
    height:26px;

    top:255px;
    left:470px;

    transform:rotate(-48deg);
}

.s12{
    width:17px;
    height:17px;

    top:390px;
    left:250px;

    transform:rotate(20deg);
}

.s13{
    width:22px;
    height:22px;

    top:430px;
    left:455px;

    transform:rotate(72deg);
}

.s1{animation-duration:3.2s;}
.s2{animation-duration:5.4s;}
.s3{animation-duration:4.6s;}
.s4{animation-duration:6s;}
.s5{animation-duration:3.7s;}
.s6{animation-duration:5.1s;}
.s7{animation-duration:4.2s;}
.s8{animation-duration:6.4s;}
.s9{animation-duration:4.9s;}
.s10{animation-duration:3.4s;}
.s11{animation-duration:5.7s;}
.s12{animation-duration:4.1s;}
.s13{animation-duration:6.2s;}

/* ===========================
   ORBIT CONTAINER
=========================== */

.orbit-container{

    position:absolute;

    left:50%;
    top:50%;

    width:650px;
    height:650px;

    transform:
        translate(-50%,-50%)
        scale(0);

    opacity:0;

    pointer-events:none;

    transition:

        transform 1.2s cubic-bezier(.22,1,.36,1),

        opacity 1.2s ease;

    z-index:8;
}

.orbit-container.active{

    transform:
        translate(-50%,-50%)
        scale(1);

    opacity:1;

    pointer-events:auto;
}

.orbit-container.active{

    opacity:1;
    visibility:visible;

    pointer-events:auto;

    transform:
        translate(-50%,-50%)
        scale(1);
}


/* ===========================
   PHẦN QUAY
=========================== */

.orbit-rotate{

    position:absolute;

    left:50%;
    top:50%;

    width:100%;
    height:100%;

    transform:
        translate(-50%,-50%)
        rotate(0deg);

    cursor:grab;

    user-select:none;
}

/* QUỸ ĐẠO */

.orbit-ring{

    position:absolute;

    left:50%;
    top:50%;

    width:450px;
    height:450px;

    transform:
        translate(-50%,-50%);

    border-radius:50%;

    overflow:visible;

    z-index:5;
}

.orbit-gradient{

    position:absolute;

    inset:0;

    border-radius:50%;

    background:

        conic-gradient(

            #ffb6ef,
            #ffd8f7,
            #e0cfff,
            #c9d8ff,
            #a8eeff,
            #8ffcff,
            #ffb6ef

        );

    mask:
        radial-gradient(

            circle,

            transparent 48.5%,

            white 49.8%,

            white 50.8%,

            transparent 52%

        );

    -webkit-mask:
        radial-gradient(

            circle,

            transparent 48.5%,

            white 49.8%,

            white 50.8%,

            transparent 52%

        );

    animation:
        sparkleRotate 22s linear infinite;
}

.orbit-sparkle1{

    position:absolute;

    inset:0;

    border-radius:50%;

    pointer-events:none;

    background:

        radial-gradient(circle,#fff 0 .8px,transparent 1.8px),

        radial-gradient(circle,#ffb6ef 0 .8px,transparent 1.8px),

        radial-gradient(circle,#8ffcff 0 .8px,transparent 1.8px);

    background-size:

        10px 10px,
        14px 14px,
        18px 18px;

    opacity:.55;

    filter:

        drop-shadow(0 0 4px #fff)

        drop-shadow(0 0 5px #ffb6ef)

        drop-shadow(0 0 5px #8ffcff);

    animation:

        sparkleRotate
        18s
        linear
        infinite;

    mask:

        radial-gradient(

            circle,

            transparent 48.4%,

            white 49.1%,

            white 50%,

            transparent 50.9%

        );

    -webkit-mask:

        radial-gradient(

            circle,

            transparent 48.4%,

            white 49.1%,

            white 50%,

            transparent 50.9%

        );
}

.orbit-sparkle2{

    position:absolute;

    inset:0;

    border-radius:50%;

    pointer-events:none;

    background:

        radial-gradient(circle,#fff 0 1px,transparent 2px),

        radial-gradient(circle,#ffb6ef 0 1px,transparent 2px),

        radial-gradient(circle,#8ffcff 0 1px,transparent 2px);

    background-size:

        12px 12px,
        16px 16px,
        22px 22px;

    opacity:.35;

    filter:

        drop-shadow(0 0 4px #fff)

        drop-shadow(0 0 6px #ffb6ef)

        drop-shadow(0 0 6px #8ffcff);

    animation:

        sparkleRotate
        30s
        linear
        infinite reverse;

    mask:

        radial-gradient(

            circle,

            transparent 54.5%,

            white 55.2%,

            white 56%,

            transparent 56.8%

        );

    -webkit-mask:

        radial-gradient(

            circle,

            transparent 54.5%,

            white 55.2%,

            white 56%,

            transparent 56.8%

        );
}

/* BÓNG */

.planet{

    position:absolute;

    width:150px;
    height:150px;

    left:50%;
    top:50%;

    margin-left:-75px;
    margin-top:-75px;

    border-radius:50%;

    background:

        radial-gradient(
            circle at 35% 28%,

            rgba(255,255,255,.95) 0%,
            rgba(255,255,255,.65) 12%,

            rgba(255,255,255,.08) 35%,

            rgba(150,255,255,.04) 60%,

            rgba(255,180,255,.04) 100%
        );

    border:
        2px solid rgba(255,255,255,.55);

    backdrop-filter:
        blur(2px);

    box-shadow:

        0 0 15px rgba(255,190,255,.45),

        0 0 22px rgba(120,255,255,.45),

        inset 0 0 25px rgba(255,255,255,.12);

   overflow:hidden;

    z-index:10;

    opacity:0;

    transition:

    transform 1.4s cubic-bezier(.22,1,.36,1),

    opacity 1.4s ease;

    user-select:none;

    -webkit-user-select:none;

    -webkit-user-drag:none;

    pointer-events:none;
}

/* phản chiếu kính */

.planet::before{

    content:"";

    position:absolute;

    inset:0;

    border-radius:50%;

    background:

        linear-gradient(

            135deg,

            rgba(120,255,255,.18),

            transparent 40%,

            transparent 60%,

            rgba(255,180,255,.20)
        );
}

/* viền pastel phát sáng */

.planet::after{

    content:"";

    position:absolute;

    width:32%;
    height:32%;

    left:20%;
    top:16%;

    border-radius:50%;

    background:

        radial-gradient(

            circle,

            rgba(255,255,255,.95),

            rgba(255,255,255,.15) 70%,

            transparent
        );

    filter:blur(7px);
}

.p1{
    transform:
        translateY(-200px);
}

.p2{
    transform:
        rotate(90deg)
        translateY(-200px)
        rotate(-90deg);
}

.p3{
    transform:
        rotate(180deg)
        translateY(-200px)
        rotate(-180deg);
}

.p4{
    transform:
        rotate(270deg)
        translateY(-200px)
        rotate(-270deg);
}

.orbit-container:not(.active) .p1,
.orbit-container:not(.active) .p2,
.orbit-container:not(.active) .p3,
.orbit-container:not(.active) .p4{

    transform:
        translate(0,0);

    opacity:0;
}

.orbit-container.active .p1{

    transform:
        translateY(-200px);

    opacity:1;
}

.orbit-container.active .p2{

    transform:
        rotate(90deg)
        translateY(-200px)
        rotate(-90deg);

    opacity:1;
}

.orbit-container.active .p3{

    transform:
        rotate(180deg)
        translateY(-200px)
        rotate(-180deg);

    opacity:1;
}

.orbit-container.active .p4{

    transform:
        rotate(270deg)
        translateY(-200px)
        rotate(-270deg);

    opacity:1;
}

@keyframes moonFloat{

    0%,100%{

        transform:

            translate(-50%,-50%)

            translateY(0px);
    }

    50%{

        transform:

            translate(-50%,-50%)

            translateY(-15px);
    }
}

@keyframes rotateOrbit{

    from{

        transform:
            translate(-50%,-50%)
            rotate(0deg);
    }

    to{

        transform:
            translate(-50%,-50%)
            rotate(360deg);
    }
}

@keyframes twinkle{

    0%,100%{

        opacity:.6;

        scale:.8;
    }

    50%{

        opacity:1;

        scale:1.3;
    }
}

@keyframes ringGlow{

    0%,100%{

        opacity:.6;
    }

    50%{

        opacity:1;

        box-shadow:

            0 0 40px #ffd4ff,

            0 0 90px #8be8ff,

            0 0 150px rgba(255,255,255,.3);
    }
}

@keyframes sparkleRotate{

    from{

        transform:
            rotate(0deg);
    }

    to{

        transform:
            rotate(360deg);
    }
}

@keyframes orbitRingSpin{

    from{

        transform:
            translate(-50%,-50%)
            rotate(0deg);
    }

    to{

        transform:
            translate(-50%,-50%)
            rotate(360deg);
    }
}
