.orbit-ring{

    position:absolute;

    left:50%;
    top:50%;

    width:400px;
    height:400px;

    transform:
        translate(-50%,-50%);

    border-radius:50%;

    overflow:visible;

    z-index:5;
}
