/* =========================================
                ORBIT ROTATE
========================================= */

.orbit-rotate{

    position:absolute;

    left:50%;
    top:50%;

    width:500px;
    height:500px;

    transform:
        translate(-50%,-50%)
        rotate(0deg);

    transform-origin:center center;

    border-radius:50%;

    overflow:visible;

    pointer-events:auto;

    cursor:grab;

    user-select:none;
    -webkit-user-select:none;

    transition:
        transform .05s linear;
}


.orbit-rotate:active{

    cursor:grabbing;
}

