.orbit-rotate{

    position:absolute;

    left:0;
    top:0;

    width:0;
    height:0;

    transform:
        rotate(0deg);

    transform-origin:center center;

    overflow:visible;

    cursor:grab;

    user-select:none;
    -webkit-user-select:none;

    transition:
        transform .05s linear;
}
